<h1>Stylists:</h1>

<a href="/stylists/new">Add a new stylist</a>

<hr/>

<ul>
#foreach ($stylist in $stylists)
  <li>
    <a href="/stylists/$stylist.getId()">$stylist.getName()</a>
  </li>
#end
</ul>
