<!DOCTYPE html>
<html>
  <head>
    <title>Best Restaurants</title>
    <script src=/"js/script.js" type="text/javascript">

    </script>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/app.css" type="text/css">
  </head>
  <body>
    <div class="container">

      #parse( $template )

    </div>
  </body>
</html>
