<h3><span class=emphasis>$stylist.getName()'s</span> client list: </h3>

</hr>

<ul>
#foreach ($client in $clients)
  <li>
    <a href="/clients/$client.getId()">$client.getName()</a>
  </li>
#end
</ul>

</br>

<a href="/">Return to Stylist List</a>
