<h3 class="newStylist">Add a stylist name:</h3>

<form action='/stylists' method="post">
  <div class="form-group">
    <label for="name">Stylist name:</label>
    <input id="name" name="name" class="form-control" type="text" required>
  </br>
    <button type="submit" class="btn btn-info">Add stylistId</button>
  </div>
</form>

</br>

<a href="/">Return to stylist list</a>
